name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/run-linters.yml

  local-tests:
    uses: ./.github/workflows/run-local-tests.yml

  docker-tests:
    uses: ./.github/workflows/run-docker-tests.yml
